{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<ul>
    {% if projects.len() == 0 %}
    <li>No Projects</li>
    {% else %}
    {% for project in projects %}
    <li>
        <a href="/pages/projects/{{project.page_name}}">{{project.page_name}}</a>
    </li>
    {% endfor %}
    {% endif %}
</ul>

<div class="p-2">
    <form hx-post="/pages/projects">
        <input class="border border-navy" name="page_name" id="page_name" type="text" placeholder="Project Name" required />
        <button class="px-2 bg-navy border-navy rounded-sm text-div-grey" type="submit">Create New Project</button>
    </form>
</div>
{% endblock %}