{% extends "base.html" %}

{% block title %}Edit Pages{% endblock %}

{% block content %}
<div>
    <div class="p-2">
        <h2 class="text-lg">Current Pages</h2>
        <ul class="p-2 list-disc">
            {% for page in pages %}
            <li>{{page.0}}</li>
            {% endfor %}
        </ul>
    </div>

    <form hx-put="./edit">
        <div class="p-2">
            <label for="username">Page Name:</label>
            <input class="border border-navy" name="page_name" id="page_name" type="text" required />
        </div>
        <div class="p-2">
            <button class="px-2 bg-navy border-navy rounded-sm text-div-grey" type="submit">Create Page</button>
        </div>
    </form>
</div>
{% endblock %}