{% extends "base.html" %}

{% block title %}Edit Pages{% endblock %}

{% block head %}
<script src="/vendor/sortable/sortable-1.15.6.min.js?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}"></script>
<script src="/scripts/htmx-sortable.js?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}"></script>
{% endblock %}

{% block content %}
<div>
    <div class="p-2">
        <h2 class="text-lg">Current Pages</h2>
        <form class="sortable" hx-patch="./edit" hx-trigger="end">
            <div class="htmx-indicator">Updating...</div>
            {% for page in pages %}
            <div><input type='hidden' name='titles' value='{{page.0}}' />{{page.0}}</div>
            {% endfor %}
        </form>
    </div>

    <div class="p-2">
        <form hx-put="./edit">
            <label for="username">Page Name:</label>
            <input class="border border-navy" name="page_name" id="page_name" type="text" required />

            <button class="px-2 bg-navy border-navy rounded-sm text-div-grey" type="submit">Create Page</button>
        </form>
    </div>
</div>
{% endblock %}