{% extends "base.html" %}
{% block title %}{{page_name}}{% endblock %}

{% block head %}
<script type="importmap">
  {
    "imports": {
      "three": "/vendor/threejs/three.module.js",
      "three/addons/": "/vendor/threejs/"
    }
  }
</script>
<script src="/scripts/htmx-stl-view.js?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}" type="module"></script>
{% endblock %}

{% block content %}
{% if let AuthenticationState::Authenticated(user) = auth_state %}
{% if user.role == Role::Admin %}
<form hx-put="./{{page_name}}">
    <div class="m-2">
        <textarea hx-patch="./{{page_name}}/preview" hx-swap="outerHTML" hx-select="#rendered" hx-target="#rendered" hx-trigger="keyup changed delay:500ms" hx-sync="closest form:abort" id="markdown"
            name="markdown" class="outline w-full min-h-40 p-2">{{markdown}}</textarea>
    </div>

    <div class="m-2 flex flex-row-reverse">
        <button class="px-2 bg-navy border-navy rounded-sm text-div-grey" type="submit">Save Edits</button>
    </div>

    <hr class="pt-2" />
    <div hx-get="/attachments/{{page_name}}" hx-trigger="load">
        <p>Loading page attachments...</p>
    </div>
</form>
<hr class="pt-2" />
{% endif %}
{% endif %}
<div class="prose max-w-none" id="rendered">
    {{rendered_markdown|safe}}
</div>
{% endblock %}