<div class="p-2">
    {% if attachments.is_empty() %}
    <p>No attachments</p>
    {% else %}
    <div class="p-2 flex">
        {% for attachment in attachments %}
        <div class="p-2">
            <a onclick="addAttachment(event)" href="/attachments/{{attachment.page_id}}/{{attachment.attachment_name}}" class="p-1">{{attachment.attachment_name}}</a>
            <button onclick="setAsCoverId({{attachment.attachment_id}})" class="p-1 bg-navy border-navy rounded-sm text-div-grey">Set as Cover</button>
            <button hx-delete="/attachments/{{attachment.page_id}}/{{attachment.attachment_name}}" class="p-1 bg-red-500 text-white rounded-sm hover:bg-white hover:text-red-500"><i
                    class="fa-solid fa-trash-can" title="Delete Attachment"></i></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="p-2">
        <form hx-post="/attachments/{{page_id}}" enctype="multipart/form-data" hx-trigger="change">
            <input class="text-sm text-navy
                file:mr-5 file:py-1 file:px-3 file:border-[1px]
                file:text-sm file:font-medium
                file:bg-navy file:text-div-grey
                file: rounded-sm
                hover:file:cursor-pointer hover:file:bg-div-grey
                hover:file:text-navy" name="attachments" id="attachments" type="file" multiple="true" required />
        </form>
    </div>
</div>