<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/main.css?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}" rel="stylesheet" />
    <link href="/vendor/fontawesome/css/fontawesome.css?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}" rel="stylesheet" />
    <link href="/vendor/fontawesome/css/solid.css?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}" rel="stylesheet" />
    <link href="/images/favicon.ico?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}" rel="shortcut icon" />

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="/vendor/htmx/htmx-2.0.4.min.js?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}"></script>
    {% block head %}{% endblock %}
</head>

<body class="bg-body-grey">
    <!-- Site, centered -->
    <div class="flex flex-col justify-center items-center">
        <!-- Jumbotron image -->
        <div class="mb-2 py-4 max-w-lg flex flex-row items-end">
            <img class="size-40 m-2 rounded-full border-8 border-navy" src="/images/Photo.jpeg?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}" />
            <div class="mb-2">
                <h1 class="font-display text-xl text-navy uppercase underline underline-offset-8 decoration-yellow">
                    Christopher Hotchkiss
                </h1>
                <p class="py-2 font-content text-m text-navy">Crafting Solutions, Shaping Products: From Concept to
                    Code</p>
            </div>
        </div>

        <div class="p-2 min-w-full">
            <!-- Navigation -->
            <div class="max-w-screen-md pl-2">
                <ul class="list-none flex flex-row">
                    {% for item in top_bar.0 %}
                    {% if item.1 == true %}
                    <li><a class="bg-navy py-1 px-8 min-w-40 rounded-t font-display text-center text-sm underline decoration-2 underline-offset-8 text-yellow uppercase"
                            href="/pages/{{item.0}}">{{item.0}}</a></li>
                    {% else %}
                    <li><a class="bg-navy py-1 px-8 min-w-40 rounded-t font-display text-center text-sm text-div-grey uppercase" href="/pages/{{item.0}}">{{item.0}}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if let AuthenticationState::Authenticated(user) = auth_state %}
                    {% if user.role == Role::Admin %}
                    <li><a class="bg-navy py-1 px-8 min-w-40 rounded-t font-display text-center text-sm text-div-grey uppercase" href="/pages/edit"><i class="fa-solid fa-pen"></i></a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>

            <!-- Content -->
            <div class="bg-div-grey p-8 rounded-md border-4 border-navy">
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <footer class="p-2 flex flex-col items-center">
            <div class="italic text-navy text-center">Views expressed on this site are that of Christopher Hotchkiss and
                not
                any employer.
            </div>
            <img class="size-24" src="/images/HotchkissLogo.svg?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}" />
        </footer>
    </div>
</body>

</html>