<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/main.css" rel="stylesheet" />
    <link href="/images/favicon.ico" rel="shortcut icon" />

    <title>{% block title %}{{ title }}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>

<body class="bg-body-grey">
    <!-- Site, centered -->
    <div class="flex flex-col justify-center items-center">
        <!-- Jumbotron image -->
        <div class="mb-2 py-8 flex flex-row items-end">
            <img class="size-40 m-2 rounded-full border-8 border-navy" src="/images/Photo.jpeg" />
            <div class="mb-2">
                <h1 class="font-display text-xl text-navy underline underline-offset-8 decoration-yellow">
                    CHRISTOPHER HOTCHKISS
                </h1>
                <p class="py-2 font-content text-lg text-navy">Crafting Solutions, Shaping Products: From Concept to
                    Code</p>
            </div>
        </div>
        <!-- Navigation -->
        <div class="max-w-screen-md">
            <ul class="list-none flex flex-row justify-around">
                <li><a class="bg-green-500 m-2 p-2 min-w-40 rounded-md text-center underline"
                        href="/projects">Projects</a></li>
                <li><a class="bg-green-500 m-2 p-2 min-w-40 rounded-md text-center underline" href="/resume">Resume</a>
                </li>
                <li><a class="bg-green-500 m-2 p-2 min-w-40 rounded-md text-center underline" href="/contact">Contact
                        Me</a></li>
            </ul>
        </div>

        <!-- Content -->
        <div class="bg-cyan-50 m-2 p-8 rounded-md">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <footer class="flex flex-col items-center">
            <div class="italic">Views expressed on this site are that of Christopher Hotchkiss and not
                any employer.
            </div>
            <img class="size-24" src="/images/HotchkissLogo.svg" />
        </footer>
    </div>
</body>

</html>