{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<script src="/scripts/htmx-webauthn.js?cb={{crate::web::router::BUILD_TIME_CACHE_BUST}}"></script>
{% endblock %}

{% block content %}
<h1 class="text-xl">Login / Register</h1>
<form class="rounded-md border-2 border-navy" hx-ext="webauthn-autofill,webauthn-register" hx-post="/login/register" hx-webauthn-autofill hx-webauthn-register>
    <div class="p-2">
        <label for="username">Username:</label>
        <input name="username" id="username" autocomplete="username webauthn" type="text" required>
    </div>
    <div class="p-2">
        <button type="submit">Fill in Username</button>
    </div>
</form>
{% endblock %}