{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block content %}
<h1 class="text-lg">Professional Experience</h1>
<hr />
<div>
    <h2>Position</h2>
    <div>
        <div>Product Director at the Federal Reserve Bank of Kansas City</div>
        <div>Aug 2018 - Present</div>
        <div>Seattle, WA, Unites States</div>
    </div>
    <h2>Accomplishments</h2>
    <ul>
        <li>Inspires a strategic program vision and develops architecture for all of Stored Value Card, a set of prepaid
            smartcard closed loop debit products used in distributed offline environments.</li>
        <li>Leads and Manages the product team to deliver on value to our clients</li>
        <li>Conceptualizes, develops, socializes, negotiates, sells and develops product enhancements to and from
            internal
            and external stakeholders</li>
        <li>Continuously researches new technologies to determine feasibility for the program</li>
        <li>Provides expert knowledge on all aspects of the programs including low level code, risk analysis, security
            reviews, budget impacts, vendor guidance and operational policy</li>
    </ul>
</div>
<div>
    <h2>Position</h2>
    <div>
        <div>Director, Client Services at the Federal Reserve Bank of Boston</div>
        <div>July 2016 - August 2018</div>
        <div>Tampa, FL, Unites States</div>
    </div>
    <h2>Accomplishments</h2>
    <ul>
        <li>Hired and managed a 34 person remote office to continue development on Navy Cash, a prepaid closed loop
            debit
            product. This included supporting a highly distributed financial program hosted in our customers locations,
            the program's
            back office and a 24/7 call center</li>
        <li>Navigated a complicated multiple owner, multi-year acquisition process under heavy staff attrition while
            still
            maintaining quality service for the customer. This included rebuilding business processes under new
            regulatory
            guidance, new vendor relationships and a back office migration</li>
        <li>Delivered a refresh of end of life servers, workstations, embedded devices and software to maintain the
            operations of the program. This included device selection, vendor management of custom software, testing,
            pilots and
            deployments</li>
        <li>Provided expert knowledge on all aspects of the program including low level code, risk analysis, security
            reviews, budget impacts, vendor guidance and operational policy</li>
        <li>Supported ongoing compliance, audit, risk, procurement, and accounting initiatives aligned with
            organizational
            objectives</li>
    </ul>
</div>
{% endblock %}